@import url("https://fonts.googleapis.com/css2?family=Kufam:ital,wght@1,600&family=Sacramento&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e7e7e7;
  margin: 0;
  padding: 0;
}
section {
  display: grid;
  grid-template-columns: 1fr 4fr 1.2fr;
  grid-template-rows: 25vh 9vh 130vh 30vh 9vh;
  grid-template-areas:
    "c c c"
    "nt nt nt"
    "m p a"
    "b b b"
    "r r r";
}

header {
  background-color: #a16868;
  display: flex;
  grid-area: c;
  height: 100%;

  justify-content: space-around;
  align-items: center;
}
#logo {
  position: absolute;
  width: 200px;
  height: 150px;
  left: 89px;
  top: 7px;
}
#logo2 {
  position: absolute;
  width: 200px;
  height: 150px;
  left: 1300px;
  top: 7px;
}
#nome-da-loja {
  justify-content: center;
  align-items: center;
}
h1 {
  font: 4rem "Sacramento", cursive;
  color: #ffffff;
}
#p-nome-loja {
  text-align: center;
  font: 1rem "Kufam", cursive;
  color: #ddc8c8;
}
a {
  font: 1.65rem "Liberation Mono", sans-serif;
  text-decoration: none;
  color: #ffff;
}
#nav-top {
  background-color: #d39f9f;
  grid-area: nt;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-top {
  padding-left: 1px;
  color: #ffffff;
}

.nav-top:link {
  color: #ffffff;
}
.nav-top:visited {
  color: #ffffff;
}
.nav-top:hover {
  color: crimson;
}
.nav-top:active {
  color: #75002a;
}

#btn-top {
  background-color: #d39f9f;
  border: none;
}
#btn-top:hover {
  box-shadow: 3px 5px 25px #d69595;
  transition: 0.5s;
  background-color: #d69595;
  border-radius: 10px;
}

ul {
  display: flex;
  height: 100%;
  align-items: center;
}
li {
  list-style-type: none;
  margin-right: 15px;
}

main {
  background-color: #ffffff;
  grid-area: p;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#banner {
  width: 100%;
  height: 250px;
  margin: 0;
}

#img-banner {
  width: 100%;
  height: 100%;
}
#Apresentacao {
  font: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  background-color: #fdf0f0;
}
#disponiveis {
  background-color: #e28d98;
  color: #ffffff;
  width: 100%;
  text-align: center;
  font: 1rem "Kufam", cursive;
}

#produtos-c {
  padding: 2px;
  background-color: rgb(255, 255, 255);
  height: 120vh;
  display: block;
}
#produtos-container {
  background-color: antiquewhite;
  width: 100%;
  height: 200%;
  display: flex;
}

#produtos {
  background-color: chartreuse;
  width: 100%;
  display: flex;
}

#card-nome {
  background-color: antiquewhite;
  padding: 3px;
  margin-bottom: 2px;
  width: 95%;
  text-align: center;
  font: 1rem "Kufam", cursive;
  color: #af3f4e;
}

#img-card {
  margin-top: 10px;
  width: 170px;
  height: 170px;
  border-radius: 100px;
}
#img-card:hover {
  box-shadow: 3px 5px 25px #9c9c9c;
  transition: 0.5s;
  background-color: #e7d0d0;
  border-radius: 6px;
}

.produto-single {
  /* background-color: rgb(234, 0, 255); */
  width: 100%;
  height: 200%;
  padding: 0 2%;
  margin-right: 10px;
}

#carrin {
  background-color: #cc9797;
  width: 100%;
  height: 350px;
  position: fixed;
  border-radius: 5px;
}
#carrinho {
  background-color: #cc9797;
  max-height: 150px;
  margin-top: auto;
  padding: 0 2%;
  display: block;
  position: fixed;
}
#carrinho-h2 {
  padding-top: 10px;
  padding-left: 70px;
  color: #ffff;
  height: 50px;
  width: 100%;
  background-color: #af3f4e;
}
#btn-carrinho {
  color: #ffffff;
  border: none;
  width: 80px;
  height: 80px;
  background-color: crimson;
  border-radius: 40px;
  position: relative;
  top: 240px;
  left: 180px;
}

#adicionar {
  background-color: crimson;
  padding: 5px;
  border-radius: 5px;
  width: 95%;
  text-align: center;
  font: 1rem "Kufam", cursive;
  color: #ffffff;
}
#adicionar:hover {
  box-shadow: 3px 5px 25px crimson;
  transition: 0.5s;
  background-color: crimson;
  border-radius: 6px;
}
#lado-esquerdo {
  background-color: #e7e7e7;
  grid-area: m;
}
#nav-left {
  display: block;
  height: 180px;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
  margin-top: 1px;
}
.nav-left {
  background-color: #d39f9f;
  margin-bottom: 3px;
  padding-top: 2px;
  display: block;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}
.nav-left {
  padding-left: 1px;
  color: #ffffff;
}

.nav-left:link {
  color: #ffffff;
}
.nav-left:visited {
  color: #ffffff;
}
.nav-left:hover {
  color: crimson;
}
.nav-left:active {
  color: crimson;
}
#lado-direito {
  background-color: #e7e7e7;
  grid-area: a;
}
#contatos {
  background-color: #e7e7e7;
  grid-area: b;
  padding-bottom: 0px;
  width: 100%;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contatos {
  background-color: #e7e7e7;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  grid-area: b;
}
footer {
  background-color: #c4c4c4;
  grid-area: r;
  padding: 12px;
  margin-bottom: 0;
}
footer p,
a {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.3rem;
}
footer a:hover {
  color: rgb(240, 78, 105);
}
/* pagina_trabalhe_conosco */
#h1_trabalheConosco {
  font: 1rem "Raleway", sans-serif;
  justify-content: center;
  align-items: center;
}
#text_trabalheConosco {
  font: 1rem "Raleway", sans-serif;

  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 5px;
  box-sizing: border-box;
  border: none;
  font: 1rem "Raleway", sans-serif;
  color: rgb(58, 58, 58);
  background-color: #dedada;
}

fieldset {
  border: none;
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 15px;
}
label {
  font: 1rem "Raleway", sans-serif;
}
legend {
  font: 1rem "Raleway", sans-serif;
}
input[type="radio"],
input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-top: 10px;
  margin-left: 30px;
  background-color: #dedada;
  border: none;
}
#btn {
  display: flex;
  padding: 30px;
  width: 700px;
  justify-content: center;
  align-items: center;
}
input[type="submit"],
input[type="reset"] {
  margin: 20px;
  background-color: #a16868;
  color: #000000;
  border: 0;
  border-radius: 3px;
  width: 100px;
  justify-content: center;
}
input[type="reset"] {
  background-color: #d39f9f;
}
/* CARRINHO

#tabela {
  border: 1px solid;
  width: 100%;
  height: 400px;
  margin-top: 100px;
  border-radius: 5px;
  background-color: #c4c4c4;
}

#texto {
  text-align: center;
  height: 50px;
  font: 1rem "Raleway", sans-serif;
}

.colum_item {
  text-align: center;
}
#linha {
  border-top: 1px solid black;
  width: 63%;
  position: absolute;
}

.linha_final {
  font: 1rem "Raleway", sans-serif;
  background-color: #1f1d1d;
  color: #fff;
  text-align: left;
  padding: 20px 0px 0px 20px;
  height: 50px;
  width: 62%;
  position: absolute;
}

#fechar_compra {
  border-radius: 27.5px;
  width: 55px;
  height: 55px;
  background-color: green;
  margin-top: 470px;
  margin-left: 700px;
  position: absolute;
} */
